/.VSCodeCounter
/.vscode
/.idea
/gateway.bat
/run.bat
/requirements.bat
/clean.bat
/pack.bat
/config/wechat_bot_cred.json
/session/**/*.json
/session/**/*.log
/session/**/user_history
/cron/cron_configs.json
/mcps/sources/**/
/mcps/mcps_configs.json
/skills/**/
/src/__pycache__
/src/context/__pycache__
/src/tool/__pycache__
/src/utility/__pycache__
/src/wechat/__pycache__
/src/agent/__pycache__
/test/__pycache__
/test/test_config.py
/dist/
/log/*.txt
/ssim.log
/changelog.txt
