/.VSCodeCounter
/.vscode
/IRDropSimAgent/.idea
/IRDropSimAgent/src/__pycache__
/IRDropSimAgent/raw_data
/IRDropSimAgent/data
/IRDropSimAgent/model
/IRDropSimAgent/test
/IRDropSimAgent/log
/IRDropSimAgent/pdn/*.json
/IRDropSimAgent/src/logs/
/IRDropSimAgent/src/ssim.log
*.asv
*.png
*.jpg
