/.VSCodeCounter
/.vscode
/.idea
/gateway.bat
/update_requirements.bat
/session/*
/skills/*
/mcps/mcps_configs.json
/mcps/sources/*
/src/__pycache__
/src/context/__pycache__
/src/tool/__pycache__
/src/utility/__pycache__
/test/__pycache__
/test/test_config.py
/log/*
/ssim.log
